@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/NeueHaasDisplayBlack.woff2) format('woff2'),
      url(/NeueHaasDisplayBlack.woff) format('woff');
}

body {
    color: #000;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.18px;
    margin: 0;
}

.header {
    display:flex;
    align-items: center;
    width: 100%;
    max-width: 967px;
    margin: 0 auto;
    padding: 14px 16px;
}

.logo {
    width: 60px;
    margin: 0;
    padding: 0;
    margin-right: 224px;
}


.nav {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    margin: 0;
    padding: 0;
    width: 400px;
    list-style: none;
}

.item a {
    color: #000;
    text-decoration: none;
}

.item a:hover {
    color: red;
}

.icons {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    list-style: none;
    margin-left: auto;
    
}

.icons-item a:hover {
    opacity: 0.5;}

.icons-item img{
    display: block;
}

.hero {
    width: 100%;
    max-width: 967px;
    margin: 0 auto;
    display: flex;
    gap: 5%;
    margin-bottom: 72px;
}

.hero h1 {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: 141px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -4.23px;
    position: relative;
    left: -6px;
    top: -28px;
    margin-bottom: 154px;
    z-index: -1;
}

.hero h2 {
    max-width: 407px;
    margin: 0;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.4px;
    margin-bottom: 96px;
}

.cta-button {
    margin: 0;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
    padding: 10px 47px 13px 47px;
    border: 1px solid #000;
    background: #FFF;
}

.cta-button:hover {
    color: white;
    background: black;
}


.hero a {
    display: inline-block;
    text-decoration: none;
}

.hero img {
    display: block;
    margin: 0;
    max-width: 100%;
    height: auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 967px;
    margin: 0 auto;
    padding: 14px 16px;
}

.footer p {
    margin: 0;
}

.social {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social a {
    color: #000;
    text-decoration: none;
}

.social a:hover {
    color: red;
}