---
type Props = {
  image: string;
  alt: string;
  width: number;
  height: number;
};

const { image, alt, width, height } = Astro.props;
---

<figure class="browser-frame">
  <div class="browser-image">
    <img src={image} alt={alt} width={width} height={height} loading="lazy" />
  </div>
</figure>
