---
type Props = {
  image: string;
  alt: string;
};

const { image, alt } = Astro.props;
---

<figure class="browser-frame">
  <div class="browser-image">
    <img src={image} alt={alt} width="1086" loading="lazy" />
  </div>
</figure>
